@import '../../../assets/sass/variables';

:host {
  display: block;
  padding: 0;
}

.documentation-content {
  padding: $main-padding;

  pre {
    background: $code-block-bg;
    color: $code-block-color;
    padding: 0 $main-padding $main-padding $main-padding;
  }
}

