@import '../assets/sass/variables';
// @import '../../node_modules/bootstrap/scss/bootstrap';

:host {
  height: 100%;
  width: 100%;
}

md-sidenav-layout {
  min-height: 100%;
  width: 100%;
}

md-sidenav-layout /deep/ .md-sidenav-content {
  overflow: hidden;
}

.app-content {
  height: calc(100% - 64px);
  overflow: auto;
}

.app-toolbar {
  background: $brand-primary;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-sidenav {
  min-height: 100%;
  padding: 0;
  width: 250px;
}
