@import '../../../assets/sass/variables';

:host {
  height: 100%;
  display: block;
}

.rest-client-content {
  padding: 20px;

  .rest-client-actions {
    margin-bottom: 20px;
  }

  .btn-group {
    label.btn.btn-primary {
      border-color: $brand-primary;
      &.active {
        background-color: $brand-primary;
        color: white;
      }
      &:not(.active) {
        background-color: white;
        color: $brand-primary;
      }
    }
  }

  .send-btns {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.response-status .tag {
  h6 {
    display: inline;
  }
  margin-right: 10px;
  margin-bottom: 20px;
}
