@import '../../../../assets/sass/variables';

.response-header-names {
  padding-right: $main-padding;
  border-right: 1px solid $gray-light;
}

.response-header-values {
  padding: 0 $main-padding;
}

.response-header-names, .response-header-values {
  display: inline-block;
}

.response-header-name {
  font-weight: bold;
  text-align: right;
}

.response-header-name, .response-heade-value {
  line-height: 1em;
  vertical-align: middle;
}
