@import '../../../../assets/sass/variables';

.request-preview {
  height: $preview-window-height;
  width: 100%;
  font-family: $preview-font;
  color: $input-color;
  padding: 10px;
  border: $input-btn-border-width solid $input-border-color;
}