
/* Side Menu */
$sidebar-menu-item-bg: #2c2c31;
$menu-header-text: #666666;
$menu-item-text: #888888;
$menu-item-selected: #3a3b44;
$menu-item-border: darken($sidebar-menu-item-bg, 3%);

/* Code Block */
$code-block-bg: #2c2c31;
$code-block-color: #fff;
